%h1 Listing showings

%table
  %tr
    %th Location
    %th Time
    %th
    %th
    %th

  - @showings.each do |showing|
    %tr
      %td= showing.location
      %td= showing.time
      %td= link_to 'Show', showing
      %td= link_to 'Edit', edit_showing_path(showing)
      %td= link_to 'Destroy', showing, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Showing', new_showing_path
