= simple_form_for @movie do |f|

  = f.input :title
  = f.input :poster_url, label: 'Poster URL'
  = f.input :trailer_url, label: 'Trailer URL'
  = f.input :description, as: 'text'

  = f.button :submit