#poster
  %img{src: @movie.poster_url.to_s}

#movie
  #info
    #title
      %h1= @movie.title
    #description
      %p= @movie.description
    #trailer
      %i.icon-youtube-play
      =link_to "Watch the trailer on YouTube", @movie.trailer_url, {target: "blank"}

  #showtimes
    %h2.centered Showtimes

    %table
      %thead
        %th Location
        %th Time
      %tbody
      - @showtimes.each do |showtime|
        %tr
          %td= showtime.location
          %td= showtime.time.to_s(:simple)

    = simple_form_for [@movie, @showtime] do |f|
      .location= f.input :location
      .time= f.input :time
      .submit= f.button :submit